<div class="register-container">
  <div class="container main-text-box" >
    Registration
  </div>
  <form action="" class="container register-box">
    <div class="form-floating-label-group">
      <input name="email" type="email" autocomplete="nope"  id="email-input" class="form-control register-item" required placeholder="e.g. johndoe@example.com" autofocus [(ngModel)]="newUser.email">
      <label for="email-input">Email address</label>
    </div>

    <div class="form-floating-label-group">
      <input name="fname" type="text" autocomplete="nope"  id="first-name-input" class="form-control register-item" required placeholder="e.g. John" [(ngModel)]="newUser.fname">
      <label for="first-name-input">First name</label>
    </div>

    <div class="form-floating-label-group">
      <input name="lname" type="text" autocomplete="nope"  id="last-name-input" class="form-control register-item" required placeholder="e.g Doe" [(ngModel)]="newUser.lname">
      <label for="last-name-input">Last name</label>
    </div>

    <div class="form-floating-label-group">
      <input name="passwordOriginal" type="password" id="password-input" class="form-control register-item" required [(ngModel)]="newUser.password">
      <label for="password-input">Password</label>
      <small> Your password must be at least 8 characters </small>
    </div>

    <div class="form-floating-label-group">
      <input name="passwordConfirm" type="password" autocomplete="nope"  id="confirm-password-input" class="form-control register-item" required [(ngModel)]="passwordCheck" (keyup.enter)="register()">
      <label for="confirm-password-input">Confirm password</label>
    </div>

    <div class="form-checkbox-group">
      <label> <input type="checkbox" (click)="togglePasswordVisibility()" style="margin-right: 5px;">Show Password</label>
    </div>

    <div class="form-checkbox-group">
      <label> <input type="checkbox" id="AcceptTermCheck" required style="margin-right: 5px;">
        <a href="{{getTermsAndServicesLocation()}}" target="_blank">Accept Terms</a></label>
      </div>

      <div class="form-button-group">
        <span class="reg-btn">
          <button id="register-btn" class="btn btn-outline-primary btn-block register-btn" (click)="register()">register</button>
        </span>
        <span class="cancel-btn">
          <a routerLink="" id="cancel-btn" class="btn btn-outline-secondary btn-block register-btn">cancel</a>
        </span>
      </div>
      @if (successMessage) {
        <div id="success-message" ng-bind-html="successMessage" class="alert alert-success success-message">
          {{successMessage}}
        </div>
      }
      @if (errorMessage) {
        <div id="error-message" ng-bind-html="errorMessage"  class="alert alert-danger">
          {{errorMessage}}
        </div>
      }

    </form>
  </div>
