<div class="section-title">
    Survey
</div>
<body>

    <div class="container">
      <p class="paragraph">Help us elevate your user experience! Share your thoughts in this brief survey, guiding us to enhance our platform based on your valuable insights. Your feedback is key to creating a more seamless and enjoyable user journey.</p>
    </div>
    <div class="center-container">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSeMgrdvPoT-sygAZLzPa1nnlD1f0l0DvFi6FLTioPpEYWAeTA/viewform" class="my-button" target="_blank">Visit Survey</a>
    </div>
    
  </body>

