<div class="recovery-container">
  <div class="container main-text-box">
    Password Recovery
  </div>
  <div class="container description-text-box">
    Please enter your email.<br>
    We will send you a link to reset your password.
  </div>
  <div class="container recovery-box">
    <input autocomplete="nope"  id="email-input" type="email" class="form-control login-item" placeholder="email" [(ngModel)]="email" (keyup.enter)="SendResetLink()" autofocus>
    @if (errorMessage.length > 0) {
      <div class="alert alert-danger">
        {{errorMessage}}
      </div>
    }
    @if (successMessage.length > 0) {
      <div class="alert alert-success">
        {{successMessage}}
      </div>
    }
    <button id="register-btn" class="btn btn-outline-primary btn-block register-btn mb-3" (click)="SendResetLink()">Request Link</button>
    <div class="cancel-btn">
      <button id="cancel-btn" class="btn btn-outline-secondary btn-block register-btn" routerLink="">Cancel</button>
    </div>
  </div>
</div>
