<section class="main-page">
  <div class="content">
    <header class="headline">
      <p class="kicker">MEDIA RESULTS REPORTS PROJECT</p>
      <h1>To Dramatically Increase Media Data Results</h1>
      <p class="subheading">Presentation</p>
    </header>

    <article class="problem">
      <h2>Problem to be solved</h2>
      <p>
        We have developed a Media Search Engine to process media data in order to generate media results reports software for
        Television, Radio, News Papers, Magazine, Social Media, Blogs, Web TV, Podcast and siriusxm radio. Currently,
        platforms are missing results due to issues we have addressed within the software. This program also includes
        Analytics and is user friendly in every way. In addition, this program's Administration portal keeps track of all
        computers and machines hardware that are on the system with security, error messages and missed data.
      </p>
    </article>

    <section class="actions">
      <h2>Description of Projects</h2>
      <div class="action-links">
        <a routerLink="/login" class="cta primary">Login</a>
        <a routerLink="/register" class="cta secondary">Sign Up</a>
        <button class="cta tertiary" type="button" disabled>Sign Out</button>
      </div>
    </section>
  </div>
</section>
